.fundoLogin {
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/2065854-robot-diz-hello-icon-flat-design-customer-service-chat-bot-on-white-background-vector-illustration-vetor.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .telaLogin {
    background-image: url();
    background-repeat: no-repeat;
  } 