.fundoCadastro {
    background-image: url(https://images7.alphacoders.com/129/1298933.png);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  } 